---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import { getLangFromUrl } from '../../../i18n/utils';

const posts = await getCollection('blog');

const lang = getLangFromUrl(Astro.url);
const filteredPosts = posts.filter(post => post.slug.startsWith(`${lang}/`));
---

<BaseLayout>
  <ul>
    {filteredPosts.map((post) => {
      const postSlug = post.slug.split('/').slice(1).join('/'); // Elimina el idioma del slug
      return (
        <li>
          <a href={`/${lang}/blog/${postSlug}/`}>{post.data.title}</a>
        </li>
      );
    })}
  </ul>
</BaseLayout>
