---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<ul>
    <li>
        <a href={`/${lang}/`}>
          {t('nav.home')}
        </a>
    </li>
    <li>
        <a href={`/${lang}/about/`}>
          {t('nav.about')}
        </a>
    </li>
    <li>
        <a href={`/${lang}/blog/`}>
          {t('nav.blog')}
        </a>
    </li>
    <li>
        <a href={`/${lang}/contact/`}>
          {t('nav.contact')}
        </a>
    </li>
</ul>