---
import LanguagePicker from '../components/LanguagePicker.astro';
import SideBar from '../components/SideBar.astro';
import { getLangFromUrl } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
---
<html lang={lang}>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <title>Astro</title>
    </head>
    <body>
		<header>
			<SideBar />
		</header>
		<LanguagePicker />
        <slot />
		<footer>
			
		</footer>
    </body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
